PROGRAM -> FUNCS
FUNCS -> FUNCS FUNC
FUNCS -> FUNC
FUNC -> TYPE ID ( PARAMETERS ) { STMTS }
PARAMETERS -> e
PARAMETERS -> PARAM_LIST
PARAM_LIST -> PARAM_LIST , TYPE ID
PARAM_LIST -> TYPE ID
STMTS -> STMTS STMT ;
STMTS -> STMT ;
STMT -> DECL
STMT -> ASSIGN
STMT -> EXP
STMT -> CONDITIONAL
STMT -> LOOP
DECL -> TYPE ID
ASSIGN -> ID = EXP
ASSIGN -> TYPE ID = EXP
EXP -> AE
EXP -> BOOL_E
BOOL_E -> LE
BOOL_E -> RE
AE -> AE + T
AE -> AE - T
AE -> T
T -> T * F
T -> T / F
T -> F
F -> ( AE )
F -> NUM
F -> ID
LE -> AE & AE
LE -> AE | AE
RE -> AE > AE
RE -> AE < AE
RE -> AE > = AE
RE -> AE < = AE
RE -> AE = = AE
RE -> AE ! = AE
CONDITIONAL -> IF ( BOOL_E ) { STMTS }
CONDITIONAL -> IF ( BOOL_E ) { STMTS } ELSE { STMTS }
LOOP -> WHILE_LOOP
LOOP -> DO_WHILE_LOOP
WHILE_LOOP -> WHILE ( BOOL_E ) { STMTS }
DO_WHILE_LOOP -> DO { STMTS } WHILE ( BOOL_E ) ;

